body.index {
  background-color: white;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.display-grid {
  display: grid;
}

.border-thin {
  border: 1px solid black;
  width: 95%;
  margin: 4px 4px 4px 4px;
}

.seperator-dark {
  background-color: darkgrey;
  width: 90%;
}

.border-thin-lightgray {
  border: 1px solid lightgray;
  margin: 4px 4px 4px 4px;
}

.image-med {
  width: 120px;
  height: 300px;
  padding: 5px;
}

.image-med-margin {
  margin-left: 120px;
}

body.projects {
  background-color: lightgray;
}

.body-main {
  background-color: whitesmoke;
  width: 90%;
  border-left: 3px solid darkgray;
  border-right: 3px solid darkgray;
}

.info-box-inner {
  border: 1px solid lightgray;
  width: 90%;
}

.info-box-outter {
  margin-bottom: 10px;
}

.info-seperator {
  width: 95%;
}